name: Deploy Java App to EC2 with Docker (Amazon Linux)

on: 
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: SSH into EC2 and Install Docker
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_PRIVATE_KEY }}
          script: |
            # Update system packages
            sudo yum update -y

             # Install Java if not installed
            if ! command -v java &> /dev/null
            then
                echo "Installing Java..."
                sudo yum install -y java-17-amazon-corretto
            else
                echo "Java is already installed"
            fi

            # Install Docker if not installed
            if ! command -v docker &> /dev/null
            then
                echo "Installing Docker..."
                sudo yum install -y docker
                sudo systemctl start docker
                sudo systemctl enable docker
                sudo usermod -aG docker $USER
            else
                echo "Docker is already installed"
            fi

            # Ensure Git is installed
            sudo yum install -y git

            # Remove old application code and fetch the latest from GitHub
            sudo rm -rf /home/ec2-user/java-app
            git clone https://github.com/nishantsorout/java-deploy.git /home/ec2-user/java-app

            # Navigate to the project directory
            cd /home/ec2-user/java-app

            # Build the Docker image directly on the EC2 instance
            docker build -t java-calculator .

            # Stop and remove any existing container
            docker stop java-app || true
            docker rm java-app || true

            # Run the new container
            docker run -d --name java-app -p 8080:8080 java-calculator
